<head>
  <title> 카페 관리자 페이지 </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <style>
    h1 {
        text-align: center;
        color: #ffffff;
      }
  </style>


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{%url 'index'%}">Cafe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    </nav>

    <br>
    
    <div class="container">
      <div class="h1">
        <div class="alert alert-warning" role="alert">
          <b>관리자 메뉴</b>
        </div>
      </div>
      <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" href="{%url 'create'%}">상품 추가(Create)</a>
        <a class="list-group-item list-group-item-action" href="{%url 'show'%}">상품 목록(Read)</a>
        <a class="list-group-item list-group-item-action" href="{%url 'updateSearch'%}">상품 수정(Update)</a>
        <a class="list-group-item list-group-item-action" href="{%url 'deleteSearch'%}">상품 삭제(Delete)</a>
      </div>
    </div>
    

</body>

